*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
.maincontainer{
  width:100dvw;
  height:100dvh;
  overflow-x: hidden;
}
.headcont{
  display:grid;
  grid-template-columns: 1fr 7fr 1fr 1fr;
  column-gap: 1rem;
  overflow-y: hidden;
  overflow-x: hidden;
}
.headcont img{
  width:3vw
}
.hero-container{
  margin-top: 2rem;
}
.grid-two{
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(2,1fr);
  height: 50vh;
}
.grid-two .grid-two-data{
  margin-left: 2rem;
  margin-top: 1rem;
}
.grid-two .grid-two-img img{
  width:25vw;
  box-shadow: 20px 10px 2px black;
}
.grid-service-cont{
  /* border:2px solid red;  */
  height: 60vh;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-three-col{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border:2px solid black;  */
  margin: 1rem 3rem;
    height: 30vh;
    width: 25vw;
    border-radius: 1rem;
    background-color: rgb(233, 238, 243);
}

.service2{
  display:grid;
  grid-template-rows: repeat(2,1fr);
  row-gap: 1rem;
  /* border:2px solid black;  */
  height: 30vh;
  width: 25vw;
}
.serv-col{
  /* border:2px solid  black;  */
  border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 238, 243);
}
.para{
  margin-left: 1rem;
  text-align: center;
  margin-top: 1rem;
}
.box{
  background-color: white;
  width:4vw;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3rem;
}
.grid-trusted-cont{
  height: 50vh;
  width:100vw;
  background-color: rgb(233, 238, 243);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grid-logos{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  column-gap: 1rem;
}
.logo-box{
  /* border: 2px solid black;  */
  width:15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height:15vh;
}
.contact-cont{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width:100vw;
  height: 100vh;
}
.contact-map{
  margin-top: 1rem;
  height: 80vh;
}
.common-heading{
  text-align: center;
}
.contact-form-cont{
 /* border:2px solid black;  */
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.contact-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  /* border: 2px solid red;  */
  width: 30vw;
  height: 65vh;
}
.contact-form input{
  width: 26vw;
  padding-bottom: 0.1rem;
}
.footer-cont{
  width:100vw;
  height: 100vh;
  background-color: rgb(22, 13, 55);
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(2,auto);
  color:white;
  margin-top: 28rem;
}
.footer-part1{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  column-gap: 0.6rem;
  height: 50vh;
    margin-top: 11rem;
}
.footer-part1 .content{
  display: flex;
  flex-direction: column;
  /* border: 2px solid red;  */
}
.footer-part1 .content input{
  width:14vw;
}
.footer-icon{
  display: grid;
  grid-template-columns: repeat(3,10%);
}
.footer-part2{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  color:white;
  
}
.part2-content{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 0.8rem;
}
.error-cont{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red;  */
  width: 100vw;
  height: 100vh;
}
.card-cont{
  width: 300px;
  margin: 1rem;
  border: 1px solid rgb(221, 221, 221);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
}
.card-cont .img-cont{
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.card-cont .img-cont img{
  width : 100px;
  margin-bottom: 1rem;
  height: 100px;
}
.card-cont .card-cont-body-title{
  font-size: 20px;
  font-weight: bold;
}
.card-cont .card-cont-body-desc{
  font-size: 12px;
}
.card-cont-btn{
  margin-top : 1.2rem;
}
.product-cont{
  display: grid;
  grid-template-columns: 40% 60%;
  column-gap: 1rem;
}
.product-cont-part2{
  display: grid;
  grid-template-columns: repeat(2,50%);
  grid-template-rows: repeat(auto);
}
.categ-list{
  border: 1px solid rgb(221, 221, 221);
  margin: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.categ-list:hover{
  background-color: rgb(223, 223, 223);
}
.cart-cont{
  display : flex;
  justify-content : center;
  align-items : center;
  border : 2px solid black;
  height: 100%;
}

